.fila1 {
    display: grid;
    background-color: bisque;

    grid-template-columns: 100%;
    grid-template-rows: 40px;
}
.fila1>div{
    border: 1px solid black ;
}
.fila2{
    display: grid;
    background-color: bisque;
    grid-template-columns: 66% 16.5% AUTO;
    grid-template-rows: 40px;
}
.fila2>div{
    border: 1px solid black ;
}
.fila3{
    display: grid;
    background-color: bisque;
    grid-template-columns:  16.5% AUTO;
    grid-template-rows: 40px;
}
.fila3>div{
    border: 1px solid black ;
}
.fila4{
    display: grid;
    background-color: bisque;
    grid-template-columns:  66% auto;
    grid-template-rows: 40px;
}
.fila4>div {
    border: 1px solid black ;
}
.fila4 .columna{
    border: 1px solid black ;
        display: grid;
        grid-template-rows: 1fr 1fr; /* Divide la columna2 en dos filas */

}
.fila4 .columna>div{
    border: 1px solid black;
    padding: 10px;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.caja {
    flex: 1;
    background-color: lightblue;
    padding: 20px;
    margin: 0 10px;
}

.fila {
    display: flex;
    margin-bottom: 10px;
}

.subcaja {
    flex: 1;
    background-color: lightcoral;
    padding: 10px;
    margin: 0 5px;
}
